html{
    font-size: 625%;
}

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
    margin: 0;
    padding: 0;
    font-style: normal;
}

ol,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

img{
    border: none;
    display: block;
}


.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix{
    zoom: 1;
}

body{
    background:#fff;
    font-size: 11px;
    /*font-family: Montserrat;*/
}

.content{
    padding: 0 10px;
    /*background: #fff;*/
    /*border-radius: 10px;*/
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover{
    color: #fff;
    background: #007593;
}

i{
    color: red;
}

.col-sm-2{
    padding-right: 0;
}

thead{
    background: #d8d8d8;
    color: #fff;
}

.dropdown-menu{
    font-size: 11px;
}

.navbar-brand{
    font-size: 26px;
}

.btn{
    font-size: 12px;
}

input::-webkit-input-placeholder{
    font-size: 12px;
}

input:focus::-webkit-input-placeholder{
    text-indent: -999px;
    z-index: -20;
}



/*²âÊÔÑÕÉ«*/
.navbar-default{
    background: #0089a7;
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
    background: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: #fff;
    background: #007593;
}


@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
        color: #fff;
        background: #007593;
    }}


@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color: #fff;
    }
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background: #007593;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: #007593;
}

.dropdown-menu > li > a{
    color:#fff;
}

.navbar-nav > li > .dropdown-menu{
    background: #0089a7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #fff;
    background: #007593;
}

