html{
    font-size: 625%;
}

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
    margin: 0;
    padding: 0;
    font-style: normal;
}

ol,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

img{
    border: none;
    display: block;
}


.clearfix:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix{
    zoom: 1;
}

body{
    background: #e8e8e8;
    font-size: 11px;
}

.content{
    padding: 0 10px;
    /*background: #fff;*/
    /*border-radius: 10px;*/
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover{
    color: #000;
    background-color: #e7e7e7;
}

i{
    color: red;
}

.col-sm-2{
    padding-right: 0;
}

thead{
    background: #8994aa;
    color: #fff;
}

.dropdown-menu{
    font-size: 11px;
}

.navbar-brand{
    font-size: 26px;
}

.btn{
    font-size: 12px;
}

input::-webkit-input-placeholder{
    font-size: 12px;
}

input:focus::-webkit-input-placeholder{
    text-indent: -999px;
    z-index: -20;
}